<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>

	<body>
		<header class="mb-5" th:fragment="header">
			<nav class="navbar bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand" th:href="@{/}">
						<img th:src="@{/img/pizza.png}" alt="Logo" width="80" height="66" class="d-inline-block">
						<h3 class="m-0 d-inline-block">Pizzeria Lievito72</h3>
					</a>
				</div>
			</nav>
			<hr class="m-0 p-0">
		</header>
	</body>

</html>